@media screen and (max-whidt: 760px) {
    header {
        flex-direction: column;
    }

    main {
        flex-direction: column;
    }

    h2 {
        font-size: 5px;
    }

    form {
        margin: 0 auto;
    }
}